[submodule "mjcf-blender-addon"]
	path = external/mjcf-blender-addon
	url = https://github.com/Balint-H/blender-mjcf.git
[submodule "unitree-robot-models"]
	path = external/unitree-robot-models
	url = https://huggingface.co/datasets/unitreerobotics/unitree_model
[submodule "usd2mjcf"]
	path = external/usd2mjcf
	url = https://github.com/LightwheelAI/usd2mjcf.git
