defaults:
  - _self_
  - environment: go2-flat_terrain
  - experiment: standing_up-v1
  - agent: ppo-v1
  - training: standard_training

optimizer:
  lr: 6e-4

train_epochs: 100
num_parallel_environments: 2
device: "cpu" # "cuda"
random_seed: 0
experiment_name: "standing_up"
