defaults:
  - environment: go2-flat_tarrain
  - experiment: standing_up-v1
  - agent: ppo-v1
  - training: large

optimizer:
  lr: 6e-4

device: "cuda:0"
max_gradient_norm: 2.0

seed: 0
experiment_name: "standing_up"
