defaults:
  - _self_
  - environment: go2-flat_tarrain
  - experiment: standing_up-v1
  - agent: ppo-v1
  - training: multi_unroll_test

optimizer:
  lr: 6e-4

# parallel_environments: 1
device: "cuda"
max_gradient_norm: 2.0
random_seed: 0
experiment_name: "standing_up"
